@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.Shrikhand {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}

.titletop {
  font-family: "Shrikhand", sans-serif;
  font-size: 50px;
  text-align: center;
}

header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

nav {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
nav i {
  margin-right: 2rem;
}

.explorer {
  text-align: center;
  background-color: #F7F7F7;
}
.explorer h1 {
  padding: 1rem 10% 1rem 10%;
}
.explorer p {
  padding: 1rem 10% 1rem 10%;
  font-size: 18px;
}

.btn-explorer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border: 0px;
  color: white;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.btn-explorer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 8px;
}

.btn-filters {
  display: flex;
  padding: 2rem;
  align-items: center;
  border: none;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  font-size: 16px;
  font-family: "roboto";
  cursor: pointer;
}
.btn-filters i {
  color: #353535;
  margin-right: 2rem;
  position: absolute;
}
.btn-filters:hover {
  background-color: #F5EDFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 8px;
}
.btn-filters:hover i {
  color: #9356DC;
}
.btn-filters p {
  margin-left: 1rem;
}

section h1 {
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 2rem;
}
section .filters-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin: 0 2rem;
}
@media screen and (min-width: 1070px) {
  section .filters-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.roundednumbers {
  border-radius: 50%;
  background: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  position: relative;
  left: -3.8rem;
}

.restaurants-list {
  background-color: #F7F7F7;
  padding-bottom: 4rem;
}
.restaurants-list h1 {
  margin-top: 3rem;
  margin-left: 5%;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 24px;
}

.restaurants-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 3rem;
}
@media (min-width: 575px) {
  .restaurants-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1000px) {
  .restaurants-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
}
.restaurants-cards a {
  text-decoration: none;
  color: inherit;
  width: 95%;
  margin: auto;
}
.restaurants-cards .nouveau {
  position: relative;
}
.restaurants-cards .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #008766;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 95%;
  height: 300px;
  border-radius: 25px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 8px;
}
.cards .restaurants-text {
  padding-top: 1rem;
  padding-left: 1rem;
  position: relative;
}
.cards .restaurants-text i {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  font-size: 2rem;
  width: 32px;
}
.cards .restaurants-text .fa-solid {
  color: transparent;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.cards .restaurants-text:hover .fa-solid {
  opacity: 1;
}
.cards .restaurants-img {
  height: 220px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #353535;
  padding-top: 2rem;
  color: white;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 900px) {
  footer {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    padding-left: 0;
  }
  footer .Shrikhand {
    order: 5;
  }
}
footer a {
  color: inherit;
  text-decoration: none;
}

i {
  margin-right: 0.5rem;
  width: 1rem;
}

/*# sourceMappingURL=style.css.map */
