@mixin boxshadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin button {
    padding: 1.5rem ;
        border-radius: 2rem;
        background: rgb(147,86,220);
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        border: 0px;
        color: white;
        font-size: 18px;
}

@mixin boxshadowdark {
    box-shadow: rgba( 0, 0, 0, 0.35) 0px 6px 8px;
}

@mixin roundednumbers {
    border-radius: 50%;
    background: #9356DC;
    color: white;
    width: 1.5rem;
    position: relative;
    left: -3.8rem;
}